@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

table,
td,
tr {
  border: 1px solid black;
  border: none;
  margin: 2px;
  /* border-collapse: collapse; */
  /* color:rgb(31, 38, 54); */
  color: rgb(17, 24, 26);
  table-layout: fixed; /* https://www.thesitewizard.com/css/make-table-cells-same-size.shtml */
  text-align: center;
}

.cell,
tr {
  padding: 0;
  width: 26px;
  height: 26px;
}

img {
  width: 26px;
  height: 26px;
  display: block;
}

body,
html {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  line-height: 1.42857143;
  color: #ececec;
  background-color: #2c2b2b;
  min-height: 100vh;
}

body {
  display: flex;
  justify-content: space-around;
  align-items: center;

  background: linear-gradient(
    90deg,
    rgb(17, 24, 26) 0%,
    rgb(31, 38, 54) 35%,
    rgb(31, 38, 54) 65%,
    rgb(17, 24, 26) 100%
  );

  /* background: linear-gradient(
        176deg,
        rgb(17, 24, 26) 50%,
        rgb(31, 38, 54) 100%
      ); */
  min-height: 100vh;
}

input[type="button"] {
  background-color: lightgray;
  color: rgb(17, 24, 26);
  border: none;

  font-family: "Oswald", sans-serif;
  font-size: 18px;
  line-height: 1.42857143;
  padding: 0.25em 1.4em;
  width: 7em;
}

#difficulty {
  display: flex;
  flex-direction: column;
  row-gap: 2em;

  justify-content: center;
  align-items: center;
}

#leaderboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

/* #difficulty,
#leaderboard,
#main {
  /* width: 13rem; */ /* Setting a limited with on main cuses the table to forceibly adjust when its sized exceeded that limit thus creatin uneven docks
} */

#main {
  /* width: 13rem; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
