table,td, tr{
    border: 1px solid black;
   border-collapse: collapse;
   width:20px;
   height:20px;
   table-layout: fixed; /* https://www.thesitewizard.com/css/make-table-cells-same-size.shtml */
   text-align: center;
}

.cell{
    width:25px;
    height:25px;
}

/* temporary */
input{
    margin-top:4em;
}